body
	min-width 1210px
.enterBg
	display none
	background #000
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	z-index 10000
	opacity 0.2
.login
	display none
	width 350px
	height 450px
	background #fff
	position absolute
	top 50%
	margin-top -225px
	left 50%
	margin-left -175px
	z-index 10001
	text-align right
	font-size 0
	.loginfrom
		padding-right 55px
		padding-top 80px
		div.sureCode
			position relative
		div.codeSure
			width 126px
			height 30px
			text-align center
			border 1px solid #cccccc
			position absolute
			top 30px
			right 75px
			color green
			font-size 14px
			font-weight bold
			line-height 30px
		input[name="提交"]
			width 202px
			height 40px
			background #ff4883
			border-radius 3px
			border 1px solid #ff4883
			color #ffffff
			box-shadow 0px 0px 0px 1px #ccc7cc inset
			margin-top 30px
			font-size 14px
			font-weight bold
		
		input[name="code"]
			width 126px
			height 32px
			font-size 12px
			background-color #f2f2f2
			line-height 30px
		
		input[name="sureNum"]
			width 63px
			height 30px
			margin-top 30px
			margin-left 6px
			padding-left 5px
		
		input[name="password"]
			width 195px
			height 30px
			margin-top 30px
			padding-left 5px
		
		input[name="user"]
			width 195px
			height 30px
			padding-left 5px
		.focus1:focus
			box-shadow 0px 0px 1px 1px #ff4883
		input[name="c"]
			width 63px
			height 30px
			padding-left 5px
			margin-top 30px

		input
			border-radius  1px
			border 1px solid #CCCCCC
			outline none
			line-height 30px
		
		label
			font-size 14px
			padding-right 3px
			line-height 32px
		
.topBanner
	width 100%
	height 80px
	position relative
	overflow hidden
	i.remove
		display block
		position absolute
		width 30px
		height 25px
		z-index 2
		right 0
		background url(../img/icon.png) right -2211px no-repeat
	.top
		position absolute
		top 0
		width 100%
		z-index 0
		img
			float left
		& .topIn
			width 980px
			height 80px
			margin 0 auto
	& .top1
		background #fbcac5
	& .top2
		background #000000
	& .buttons
		width 29px
		height 11px	
		border-radius 4px
		background #322928	
		position absolute 
		z-index 2
		bottom 6px
		right 7px
		padding-top 4px
		
		em
			margin-left 5px
			float left
			display block
			height 7px
			width 7px
			border-radius 4px
			background #d6cccb
			cursor pointer
		em.cur
			background #cc395e
.leftFixed
	background-color #fff
	line-height 38px
	font-size 12px
	text-align center
	z-index 999
	&.remove
		position absolute 
		top 1340px
	&.add
		position fixed
		bottom 50%
		margin-bottom -133px 
	ul
		position relative
		li
			position relative
			width 38px
			height 38px
			& a.lastA
				line-height 20px
				font-weight 700
				color #666
				& em
					margin auto
					padding-top 5px
					display block
					width 0
					height 0
					border-bottom 8px solid #666 
					border-left 5px solid transparent 
					border-right 5px solid transparent
				&:hover
					color #ff519e
					& em
						border-bottom-color #ff519e
			& a 
				display block
				color #ff519e
				height 38px
				width 38px
				position relative
				line-height 38px
				&:hover>i
					display none
				& i.on
					display none	
				& i
					display block
					position absolute
					width 38px
					height 38px
					background-color #fff
					top 0
					left 0
					background-image url(../img/leftfix.png)
					&.icon-over1
						background-position -3px -2px
					&.icon-over2
						background-position -3px -40px
					&.icon-over3
						background-position -3px -78px
					&.icon-over4
						background-position -3px -116px
					&.icon-over5
						background-position -3px -154px
					&.icon-over6
						background-position -3px -192px
.topFixed
	width 100%
	min-width 1210px
	height 0
	background-color #333333
	position fixed 
	top 0
	z-index 9999
	overflow hidden
	& .inTopFixed
		width 1210px
		height 50px
		background url(../img/titi.png) -3px 4px no-repeat
		margin 0 auto
		position relative
		& input
			width 610px
			height 14px
			background #fff
			outline none
			position absolute
			top 10px
			left 282px
			padding 8px 30px 8px 20px
			&:focus
				box-shadow 0px 0px 1px 1px red
		& ul.choose
			position absolute
			right 290px
			top 16px
			li
				float left
				max-width 50px
				font-size 12px
				color #000000
				overflow hidden
				white-space nowrap
				text-overflow ellipsis
				line-height 18px
				padding 0 4px
				background #f0f0f0
				margin-left 5px
				&:hover
					background #dfdfdf	
		& .submit
				width 30px
				height 30px
				cursor pointer
				background url(../img/click.png) -4px -4px
				border-color #ff4883
				position absolute 
				right 238px
				top 10px
.global
	width 100%
	& .outBar
		width 100%
		height 36px
		border-bottom 1px solid rgb(223,223,223)
		border-top 1px solid rgb(223,223,223)
		position relative
		z-index 10
		line-height 36px
		font-size 12px
		color #8c8c8c
		& .cenBar
			width 1210px
			height 36px
			position relative
			margin 0 auto
			font-size 12px
			& span.ver
				float left
				display block
			& i.arrow
				margin-top 15px
				float left
				display block
				width 10px
				height 5px
				background url(../img/arrow.png) no-repeat
				vertical-align middle
				margin-left 2px
			& div.lines
				position absolute
				display block
				left -2px
				width 1px
				height 12px
				top 12px
				background #dfdfdf
				z-index 10
			& a:hover 
				color #73ABC9
			& .leftUl
				float left
				&>li
					float left
					position relative
					&:hover>a .lines
						left -1px	
					&>a
						padding 0 10px
						display block
						height 36px
						border-left 1px solid #fafafa
						border-right 1px solid #fafafa
						position relative
					&.prevCity
						&>a
							padding-left 0
					&.allCity:hover>a
						height 37px
						border-left 1px solid #dfdfdf
						border-right 1px solid #dfdfdf
						background #fafafa
						z-index 15
					&.allCity:hover>a i.arrow
						transform rotate(180deg)
						transition transform 0.3s
					&.allCity:hover>.hotCity
						display block
				& .allCity
					.hotCity
						display none
						position absolute
						width 175px
						padding 15px 12px
						border 1px solid #dfdfdf
						top 36px
						background #fff
						& a:hover
							text-decoration underline
						& h3
							line-height 13px
							font-size 13px
							color #73ABC9
							padding-bottom 10px
						& a.moreCity
							line-height 13px
							float right
						& .AllHotCity
							font-size 0
							line-height 13px
							width 210px
							& a
								font-size 12px
								display inline-block
								margin 0 25px 10px 0
							
			& .rightUl
				float right
				&>li
					float left
					position relative
					&:hover>a i.arrow
						transform rotate(180deg)
						transition transform 0.3s
					&>a
						padding 0 10px
						display block
						height 36px
						border-left 1px solid #fafafa
						border-right 1px solid #fafafa
						position relative
						&.collect
							padding-right 0
				& .mob-nuomi,.my-nuomi,.late-view,.me-tenant,.follow
					&:hover>a
						height 37px
						border-left 1px solid #dfdfdf
						border-right 1px solid #dfdfdf
						background #fafafa
						z-index 15
					&:hover>a .lines
						left -1px		
				& .mob-nuomi
					&:hover>.mob-Inner
						display block	
					.mob-Inner
						background #fff
						display none
						border 1px solid #dfdfdf
						width 102px
						position absolute
						top 36px
						padding 15px 15px 10px
						& a.code
							display block
							height 142px
							background url(../img/code.png) -1px 0 no-repeat
				& .my-nuomi
					&:hover>.my-Inner
						display block
					.my-Inner
						background #fff
						display none
						width 80px
						border 1px solid #dfdfdf
						top 36px
						position absolute
						&>a
							display block
							padding-left 13px
							line-height 30px
							color #73ABC9
				& .late-view
					&:hover>.late-Inner
						display block
					.late-Inner
						background #fff
						text-align center
						display none
						height 83px
						width 309px
						border 1px solid #dfdfdf
						top 36px
						right 0
						line-height 83px
						position absolute
				& .me-tenant
					&:hover>.tenant-Inner
						display block
					.tenant-Inner
						background #fff
						display none
						width 80px
						border 1px solid #dfdfdf
						top 36px
						position absolute
						
						&>a
							display block
							padding-left 13px
							line-height 30px
							color #73ABC9
				& .follow
					&:hover>.follow-Inner
						display block
					.follow-Inner
						background #fff
						display none
						border 1px solid #dfdfdf
						width 135px
						position absolute
						top 36px
						padding 15px
						right 0
						& a.code2
							display block
							height 116px
							width 116px
							margin auto
							background url(../img/code2.png) no-repeat
						& p
							text-align center
							line-height 15px 
							& span
								color #ff4883
	& .search
		width 1210px
		margin 30px auto 0
		height 60px
		position relative
		z-index 9
		& .titIcon
			float left
			width 230px
			height 36px
			background url(../img/tit.jpg) 1px 4px no-repeat 
			padding-top 6px
		& .rightUtils
			float right
			padding 7px 0
			border 1px solid #ebca4d
			background #feda4e
			position relative
			& a
				display block
				height 24px
				width 50px
				float left
				background-image url(../img/utils.png)
				background-repeat no-repeat
				&:hover .util
					display block
				& .util
					display none
					position absolute
					top 46px
					padding 0 12px
					height 48px
					line-height 48px
					border 1px solid #dfdfdf
					background #fff
					& span
						font-size 14px
						font-family Microsoft YaHei
					& i.Icon
						display block
						position absolute
						height 6px
						width 8px
						top -6px
						background url(../img/util-icon.png)
				& .util1
					width 114px
					left -1px
					& i.Icon
						left 21px
				& .util2
					width 142px
					left -1px
					& i.Icon
						left 72px
				& .util3
					width 86px
					right -1px
					& i.Icon
						right 21px
			& .top
				background-position 12px 2px
			& .mid
				border-left 1px solid #ebca4d
				border-right 1px solid #ebca4d	
				background-position -39px 2px	
			& .bot
				background-position -90px 2px
		& .searchInput
			float right
			margin-right 12px
			background #fff
			position relative
			& input
				float left
				width 407px
				height 18px
				font-size 14px
				line-height 18px
				outline none	
				border-left 1px solid #dfdfdf
				border-top 1px solid #dfdfdf
				border-bottom 1px solid #dfdfdf
				padding 10px 16px 10px 20px
				
			& .submit
				width 38px
				height 38px
				float left
				border 1px solid #dfdfdf
				background url(../img/clickprev.png)
				cursor pointer
				&:hover
					background url(../img/click.png)
					border-color #ff4883
			& ul.choose
				position absolute
				right 56px
				top 10px
				li
					float left
					max-width 50px
					font-size 12px
					color #000000
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
					line-height 18px
					padding 0 4px
					background #f0f0f0
					margin-left 5px
					&:hover
						background #dfdfdf	
		& .sup
			height 40px
			float right
			position relative
			width 200px
			text-align center
			line-height 40px
			margin-right 30px
			color #999
			font-size 12px
			& .upSup
				float left
				width 98px
				height 38px
				border 1px solid #dfdfdf
				cursor pointer
			& .downSup
				float left
				height 38px
				width 98px
				border-top 1px solid #dfdfdf
				border-right 1px solid #dfdfdf
				border-bottom 1px solid #dfdfdf
				cursor pointer
			& .downSup,& .upSup
				&:hover
					color #ff318c
	& .allStore
		width 1210px
		margin 0 auto
		position relative
		z-index 8
		& .leftCh
			float left
			width 226px
			position relative
			z-index 2
			& .allClass
				width 226px
				height 44px
				background #ff318c
				span
					padding-left 18px
					font: 18px/44px 'Microsoft YaHei'
					color #fff
			& ul.bigStoreUl
				position relative
				width 224px
				&>li
					width 224px
					height 51px
					border-left 1px solid #dfdfdf
					border-right 1px solid #dfdfdf
					border-bottom 1px solid #dfdfdf
					line-height 51px
					float left
					& .show
						&>a.bigTit
							display block
							font-weight 700
							padding-left 20px
							float left
							font-size 16px
							&:hover
								color #ff318c
						& .smallTitOut
							padding-right 20px
							float right
							&>a.smallTit
								display block
								float left
								font-size 12px
								color #999
								margin-left 12px
								font-family 'Microsoft YaHei'
								&:hover
									text-decoration underline
									color #005aa0
					&:hover .vanish
						display block
					& .vanish
						display none
						clear both
						position absolute
						z-index 2
						height 415px
						padding-left 20px
						width 430px
						left 225px
						border-left 1px solid #eaeaea
						border-right 1px solid #eaeaea
						border-bottom 1px solid #eaeaea
						padding-left 20px
						font-size 12px
						background #fff
						top 0
						& .inCl
							padding-top 15px
							border-bottom 1px solid #dfdfdf
							overflow hidden
							*padding-bottom 7px
							& h3
								font-size 12px
								line-height 15px
								color #313037
								display block
								margin-bottom 5px 
							&>a
								font-size 12px
								display inline-block
								float left
								padding 0 10px
								margin-bottom 7px
								border-right 1px solid #DFDFDF
								color #949494
								line-height 15px
								white-space: nowrap
								max-width 131px
								overflow hidden
								text-overflow ellipsis
								&:hover
									text-decoration underline
									color #005aa0
								
								
		& .rightCh
			width 984px
			height 460px
			float left
			position relative
			z-index 0
			ul.sele
				height 44px
				width 984px
				background rgb(49, 49, 55)
				position relative 
				z-index 2 
				&>li
					float left
					color #fff
					position relative
					&:hover
						background rgb(8,8,9)
						& .seleDown
							display block
						& .jt
							transform rotate(180deg)
							transition transform 0.3s
					& .seleDown
						display none
						width 106px
						background rgb(49, 49, 55)
						position absolute
						top 44px
						right 0px
						&>a
							font-size 16px
							display block
							margin 0 auto
							text-align center
							& span
								display block
								width 80%
								margin 0 auto
								border-bottom 1px solid #414045
								padding-top 12px
								padding-bottom 11px
							& .bot
								border-bottom 1px solid rgb(49, 49, 55)
							&:hover
								background rgb(8,8,9)
								& span
									border-bottom 1px solid rgb(8,8,9)
								
				
					&>a
						display block
						padding 0 10px
						min-width 86px
						text-align center
						font: 18px/44px 'Microsoft YaHei'
						position relative
						&.twoLiA
							width 100px
							text-align left
							& .i-hot
								right 8px
						&.threeLiA
							text-align left
							&>span
								font: 18px/44px 'Microsoft YaHei'
								padding-left 8px
							& .i-hot
								right 19px
						&.fourLiA
							text-align left
							&>span
								font: 18px/44px 'Microsoft YaHei'
								padding-left 14px
						& .i-hot
							text-indent 0px
							display block
							width 29px
							height 13px
							background #feda4e
							font-size 12px
							line-height 14px
							position absolute
							top 17px
							text-align center
							color #000
							border-radius 2px
						& .jt
							display block
							width 0px
							border-top 4px solid #fff
							border-left 4px solid transparent
							border-right 5px solid transparent
							position absolute
							right 29px
							top 22px
			& .bigBanner
				width 737px
				height 259px
				float left
				border-right 1px solid #dfdfdf
				position relative
				overflow hidden 
				&:hover 
					& span.prev,span.next
						display block
				& .prev
					display none
					background url(../img/next.png) 12px 10px #000 no-repeat
					right 0
				& .next
					display none
					background url(../img/prev.png) 12px 10px #000 no-repeat
					left 0
				&>span
					width 40px
					position absolute
					display block 
					height 46px
					top 50%
					margin-top -23px
					z-index 10
					opacity 0.5
					cursor pointer
				
				& .container
					height 259px
					position relative
					left -737px
					&>a
						display block
						width 737px
						float left
						overflow hidden
						& img
							float left
							height 259px
							width 737px
				& .buttons
					position absolute
					width 100%
					height 10px
					bottom 20px 
					text-align center	
					font-size 0
					z-index 1
					& em
						width 10px
						height 10px
						display inline-block
						background #fff
						margin 0 5px 
						border-radius 5px
						cursor pointer
					& em.cur 
						background-color #ff318c
			& .smallBanner
				width 246px
				height 259px
				float left
				background skyblue
				overflow hidden
				position relative
				&>.container
					width 246px
					height 259px
					position relative
					&>a
						display block
						width 246px
						height 259px
						position absolute 
						top 0
						left 0
						& img
							float left
							width 100%
							height 100%
				&>.buttons
					text-align center 
					font-size 0
					position absolute
					bottom 16px
					height 10px
					width 100%
					& em
						width 10px
						height 10px
						display inline-block
						background-color rgb(221,221,221)
						border-radius 5px
						margin 0 3px
						cursor pointer
					& em.cur
						background-color #ff4883
			&>ul.botBanner
				width 984px
				clear both
				font-family 'Microsoft Yahei'
				&>li
					position relative
					float left
					height 97px
					width 205px
					border-top 1px solid #dfdfdf
					border-right 1px solid #dfdfdf
					border-bottom 1px solid #dfdfdf
					padding 28px 10px 30px 30px
					&>div.tit
						padding-right 20px
						line-height 22px
						font-size 18px
						text-align center
						font-weight bold
					& ul.innerUl
						margin-top 22px
						overflow hidden
						height 50px
						position relative
						background-color #fff
						&>li
							float left
							font-size 12px
							margin-right 20px
							padding-bottom 14px
							position relative
							& a
								display block
								float left
								color #7b7b7b
								line-height 14px
								white-space nowrap
							& a:hover
								text-decoration underline
								color #0b5c9e
							& a.hot
								color #ff4883
				&>li.twoLi
					& .mouseOver
						position absolute
						padding 2px 1px
						right 24px
						bottom 48px
						z-index 10
						& .in-icon
							display block
							width 0
							height 7px
							border-top 7px solid rgb(102,102,102)
							border-left 7px solid transparent
							border-right 7px solid transparent
						&:hover+.copyTwoLi
							display block
					& .copyTwoLi
						display none
						position absolute
						z-index 12
						width 100%
						width 206px
						border 1px solid #dfdfdf
						background-color #fff
						left 8px
						top 8px
						padding-left 21px
						&>div.tit
							padding-top 19px
							line-height 22px
							font-size 18px
							text-align center
							font-weight bold
							padding-right 21px
						&>.innerUl
							height auto
							background-color rgba(0,0,0,0)
						&:hover
							display block
				&>li.fourLi
					background-image url(../img/fourLi.jpg)
					cursor pointer
	& .brand
		width 1210px
		padding-top 20px
		margin 0 auto
		height 369px
		position relative
		z-index 7
		& .leftMain
			float left
			width 965px
			&>h2
				height 40px
				& .chiTit
					display block
					float left
					height 40px
					line-height 40px
					font-size 20px
				& .engTit
					display block
					float left
					font-size 16px
					padding-top 15px
					padding-left 5px
					color #999
				&>a
					display block
					float right
					font-size 12px
					line-height 14px
					color #666666
					height 22px
					padding-top 18px
					& :hover
						text-decoration underline
					& span
						display block
						float left
					& i.i-all
						display block
						float left
						width 7px
						height 11px
						margin-left 5px
						background url(../img/all-arrow.png)
			& .bigImg
				float left
				overflow hidden
				img
					width 228px
					height 329px
					float left
			& .allList
				float left
				border-top 1px solid #dfdfdf
				border-left 1px solid #dfdfdf
				width 735px
				overflow hidden
				&>a
					display block
					float left
					border-right 1px solid #dfdfdf
					border-bottom 1px solid #dfdfdf	
					text-align center	
					font-size 0
					padding-top 3px
					padding-bottom 3px
					width 146px
					background #fff
					&>img
						height 75px
		& .rightMain
			float right
			width 226px
			&>h2
				height 40px
				font-weight bold
				height 40px
				line-height 40px
				font-size 20px
			&>.rightMainTop
				display block
				width 224px
				height 135px
				background url(../img/rightMianTOP.jpg) 114px no-repeat
				border 1px solid #dfdfdf
				background-color #fff
				
				&:hover p.biaduTit
					color #fc378c
				&>p.biaduTit
					font-size 16px
					line-height 18px
					font-weight 700
					padding-top 19px
					padding-left 17px
				&>p.des
					font-size 12px
					line-height 16px
					padding-left 17px
					margin-top 8px
					color #8c8c8c
			&>.rightMainbot
				display block
				width 224px
				height 113px
				border 1px solid #dfdfdf
				background-color #fff
				margin-top 20px
				& img
					width 224px
					height auto
	& .pubFloor
		width 1210px
		margin 30px auto 0
		position relative
		& .pubTitSele
			height 27px
			padding 6px 0
			overflow hidden
			& i.BigTit-icon
				display block
				height 27px
				width 24px
				background -1px 0 no-repeat
				float left
				margin-right 10px
			& h3
				font-size 20px
				font-weight 700
				line-height 27px
				float left

			& .choosePub
				float right
				margin-right -18px	
				color #767676
				& li
					float left
					font-size 12px
					line-height 15px
					padding-top 12px
					&>a
						display block
						padding 0 18px
						border-right 1px solid #dfdfdf
						overflow hidden
						&:hover
							color #005aa0
							text-decoration underline
						& span
							display block
							float left
						& i.i-all
							display block
							float left
							width 7px
							height 12px
							margin-left 5px
							background url(../img/all-arrow.png) 0 1px no-repeat
		& ul.allListItem
			margin-left -5px
			width 1230px
			position relative
			overflow hidden
			min-height 30px
			&>li.list-item
				width 226px
				height 298px
				border 1px solid #fff
				margin-right 10px	
				float left
				margin-bottom 40px
				padding 4px
				position relative
				background #fff
				&:hover
					border-color #ff4883
				& a.img-a
					display block
					font-size 0
					position relative
					& img
						border 1px solid #dfdfdf
						width 224px
						height 135px
					& i.free-appoint
						width 56px
						height 56px
						display block
						position absolute 
						top 0px
						left 0px
						background-image url(../img/free-app.png)
					& .locate-opac 
						display block
						width 226px
						height 36px
						background-color #000
						position absolute 
						bottom 0
						color #fff
						left 0
						
						& i.locaIcon
							width 12px
							height 12px
							background url(../img/white-locate.png) no-repeat
							float left
							margin 11px 3px 0 
						& span
							max-width 205px
							display block
							float left
							font-size 12px
							line-height 36px
							white-space nowrap
							overflow hidden
							text-overflow ellipsis
				& a.title
					display block
					font-size 16px
					max-width 186px
					overflow hidden 
					text-overflow ellipsis
					white-space nowrap
					margin-top 10px
					height 25px
					line-height 25px
					font-weight 700
					&:hover
						color #ff4883
				& a.des
					font-size 12px
					color #9e9e9e
					display -webkit-box !important
					display block
					height 40px
					line-height 20px
					overflow hidden 
					-webkit-line-clamp 2
					-webkit-box-orient vertical
					text-overflow ellipsis
					&:hover
						color #005aa0
						text-decoration underline
				& .outPromo
					height 18px
					padding 2px 0 4px
					& span.promo
						padding 0 2px
						display inline-block
						font-size 12px
						line-height 18px
						background-color #ff4883
						border-radius 2px
						color #fff
				& .outPrice
					line-height 32px
					height 32px
					& span.i-mon
						color #ff4883
						font-size 16px
					& span.curPrice
						color #ff4883
						font-size 24px
						margin 0 5px
					& span.prePriceOut
						font-size 12px
						color #9e9e9e
						& span
							text-decoration line-through
				& .out-sold
					line-height 23px
					position relative
					span
						font-size 12px
					span.gold
						float left
						color #005aa0
					span.sold
						color #9e9e9e
						float right		
					& .lines
						width 1210px
						height 1px
						position absolute 
						top 50px
						left 0
						background-color #dfdfdf
		a.lookAllBuy
			display block
			width 1208px
			height 	35px
			border 1px solid #dfdfdf
			line-height 35px
			text-align center
			margin-top -27px
			font-size 12px
			color #9e9e9e
			position relative
			z-index 1
			background-color #fff
			*margin-top 13px
			i.gt
				display inline-block
				width 7px
				height 11px
				margin-left 5px
				background url(../img/all-arrow.png)
				position relative
				vertical-align middle
				*top 1px
			&:hover
				color #005aa0
				text-decoration underline
	& .bottomEnd
		width 1210px
		margin 0 auto
		text-align center
		margin-top 30px
		font-size 0
		p
			line-height 40px
			font-size 12px
			font-family 'Microsoft Yahei'
			color #666
			a 
				padding 0 20px
			img
				vertical-align middle
				position relative 
				top -2px
				margin-right 3px
				*top 0
					
					
					
					 
				
			
		
					

						
							
							
							
							
						
							
							
							
							
							
									
							
								
							
			
			
